<h1>Buy Me A Feeling</h1>

<p>Happiness can be bought, and so can all other feelings</p>

<p>Sign up to start Buying</p>
<h3>Start your search here</h3>

<p>We have the cheapest prices on the Internet!</p>

<h3>Looking for more feelings?</h3>
<p>These will appear across the site as you add feelings to your cart</p>

<h3>Build a emotional roller-coaster cart</h3>
<p>The more feelings you buy together, the more you save :)</p>
