<% layout('layout') -%>

<div class="row">
  <div class="span3 center">

    <% if (message.length > 0) { %>
      <div class="alert alert-danger alert dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= message %>
      </div>
    <% } %>

    <form method="post">

      <h1>Login</h1>

      <div class="form-group">
        <label for="email">Email: </label>
        <input id="email" type="email" class="form-control" name="email">
      </div>

      <div class="form-group">
      <label for="password">Password: </label>
        <input id="password" type="password" class="form-control" name="password">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>

    <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook" style="width: 220px; margin: 0; background: #2d4373;">
      <span class="fa fa-facebook"></span>
      Sign in with Facebook
    </a>

  </div>
</div>
