<% layout('layout') -%>

<div class="container">
  <div class="row">
    <div class="center">
      <img class="img-circle" src="<%= user.profile.picture %>" alt="">

      <br />
      <p>Name: <%= user.profile.name %></p>
      <p>Email: <%= user.email %></p>

      <% if (user.address === "" || typeof user.address === 'undefined') { %>

        <p>Address: <span style="color: #c0392b; font-weight: bold">You have no address</span></p>

      <% } else { %>

        <p>Address: <%= user.address %></p>

      <% } %>

      <a href="/edit-profile" class="btn btn-primary">Edit Profile</a>
    </div>
  </div>
</div>
