<% layout('layout') -%>

<div class="container">
  <div class="row">
    <div class="span8">

      <% for (var i = 0; i < foundCart.items.length; i++) { %>
        <div class="row" style="margin: 12px 0; border: 1px solid #ddd; border-radius: 4px; padding: 8px 0;">
          <div class="span2">
            <span><img class="product-image" src="<%= foundCart.items[i].item.image %>"></span>
          </div>

          <div class="span3" style="width: 278px;">
            <p><%= foundCart.items[i].item.name %></p>
          </div>

          <div class="span2">
            <p><%= foundCart.items[i].quantity %></p>
            <p>$<%= foundCart.items[i].price %></p>
          </div>

        </div>
      <% } %>

    </div>

    <div class="span2"></div>

    <div class="span2"></div>

  </div>
</div>
