<% layout('layout') -%>

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <div class="container">
    <h1>Buy Me A Feeling</h1>
    <p>Happiness can be bought, and so can all other feelings</p>
    <p><a href="#" class="btn btn-primary btn-large">Signup &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="span4">
      <h3>Start your search here</h3>
      <p>Sign up to start Buying</p>
    </div>
    <div class="span4">
      <h3>Looking for more feelings?</h3>
      <p>These will appear across the site as you add feelings to your cart</p>
   </div>
    <div class="span4">
      <h3>Build a emotional roller-coaster cart</h3>
      <p>The more feelings you buy together, the more you save :)</p>
    </div>
  </div>
</div>
