<% layout('layout') -%>

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <div class="container">
    <h1>BuyMeAFeeling</h1>
    <p>Happiness can be bought, and so can all other feelings</p>
    <p><a href="/signup" class="btn btn-primary btn-large">Signup &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="span4">
      <h3>Search for feelings</h3>
      <p>Lacking in or want to feel more of a specific feeling? We can help!</p>
    </div>
    <div class="span4">
      <h3>Build a emotional roller-coaster cart</h3>
      <p>The more feelings you buy together, the more you save :)</p>
    </div>
    <div class="span4">
      <h3>Looking for a feeling not listed on BuyMeAFeeling?</h3>
      <p>Let us know and we'll add it!</p>
    </div>
  </div>
</div>
